{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block metaTitle %}

<title> Zeybek Hukuk | Hakkımızda </title>
<meta name="description" content="Kocaelide Avukatlık Hizmeti Veren Zeybek Hukuk Bürosu Hakkında Tanıtıcı Yazıların bulunduğu ve Kocaeli Avukatın anlatıldığı hakkımızda sayfasıdır.">

{% endblock %}


{% block body %}


        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Hakkımızda</h2>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
                            <li>Hakkımızda</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

        <br><br>

        <!-- start of about-section -->
        <section class="about-section ">
            <div class="container">
                <div class="row">
                    <div class="col col-md-5">
                        <div class="about-title">
                            <div class="img-holder">
                                <img src="{% static 'mainapp/images/zeybek-hukuk-hakkimizda.png' %}" alt="Zeybek Hukuk Hakkında">
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-7">
                        <div class="about-text">
                            <h1 class="color-g">Zeybek Hukuk &amp; Danışmanlık</h1>
                            <p>Zeybek Hukuk Bürosu, 1979 yılında merhum Av. Ali Zeybek’in kuruculuğunda Av. Emine Zeybek ile birlikte başta Kocaeli ve İstanbul bölgeleri olmak üzere Türkiye genelinde 40 yılı aşkın bir süredir çalışmalarını sürdürmektedir. 2. Kuşak bir hukuk firması olan Zeybek Hukuk Bürosu bünyesine Av. Kerem Zeybek’in katılımıyla güvenilir bir şekilde tüzel ve gerçek kişiler için danışmanlık ve avukatlık hizmetlerini sürdürmektedir.</p>
                            <p>Av. Emine Zeybek, 27. Dönem Milletvekili olması neticesinde hukuk büromuzdan ayrılmak zorunda kalmış ve büromuz Av. Kerem Zeybek liderliğinde diğer avukat arkadaşlarımız, stajyerler, destek elemanları ve asistanları ile faaliyetlerini kesintisiz bir şekilde sürdürmektedir</p>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end of about-section -->

        <!-- start of about-section -->
        <section class="about-section ">
            <div class="container">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="about-text">
                            <h1 class="color-g">Vizyon &amp; Misyon</h1>
                            <h2>Vizyon</h2>
                            <p>Mesleki ve ahlaki değerler sınırları içerisinde hukukun üstün olduğunu benimseyerek; koşullar ve şartlar ne olursa olsun kaliteli bir hizmet anlayışı ile Türkiye Cumhuriyeti Anayasa’sına bağlı bir şekilde hareket ederek temel hak ve özgürlüğümüzün dokunulmazlığını sağlamak adına profesyonel çalışma sürdürmek</p>
                            <h2>Misyon</h2>
                            <p>Avukatlık mesleğine başlamadan önce etmiş olduğumuz yemin uyarınca; hukuk, ahlak, mesleki onur ve kurallarına uygun davranışlar sergilemek, müvekkillerimizin memnuniyetini ön plana koyarak, profesyonellik ve değerlerimizden ne olursa olsun öden vermeksizin müvekkil haklarını en iyi ve doğru şekilde korumasını sağlamak adına aldığımız eğitim, edindiğimiz bilgi ve tecrübeleri hukukun üstünlüğü çerçevesinde kullanmak</p>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end of about-section -->

        <!-- start of about-section -->
        <section class="about-section ">
            <div class="container">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="about-text">
                            <h1 class="color-g">Avukatlarımız</h1>
                            <h2>Avukat Kerem Zeybek Kimdir?</h2>
                            <p>Avukat Kerem Zeybek, Yeditepe Üniversitesi’nde %100 YÖK Bursu ile eğitimini tamamlamıştır. Hukuk eğitim öğreniminin bir dönemini Salzburg Üniversitesi’nde gerçekleştirmiş ve Yeditepe Üniversitesi’nden mezun olmuştur. İngilizce dil bilgisi çok iyi düzeydedir.</p>
                            <h2>Avukat Libaden Çeğen Kimdir?</h2>
                            <p>Avukat Libaden Çeğen, Doğu Akdeniz Üniversitesi hukuk fakültesinde eğitimini tamamlayarak mezun olmuştur. 9 yıldır Kocaeli barosu bünyesinde avukatlık mesleğini sürdürmektedir.</p>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end of about-section -->

        <!-- start about-pg-section -->
        <section class="about-pg-section ">
            <div class="container">
                <div class="row"><hr class="divider_40">
                    <div class="col col-sm-5 col-xs-12">
                        <div class="experience-text">
                            <h2><span>40</span> Yıllık Deneyim</h2>
                        </div>
                    </div>
                    <div class="col col-sm-7 col-xs-12">
                        <div class="fun-fact-section">
                            <div class="">
                                <div class="funfact-grids">

                                    <div class="grid">
                                        <div>
                                            <h3><span class="odometer" data-count="750">00</span></h3>
                                        </div>
                                        <p>Müvekkil</p>
                                    </div>
                                    <div class="grid">
                                        <div>
                                            <h3><span class="odometer" data-count="6">00</span>+</h3>
                                        </div>
                                        <p>Uzman Avukat</p>
                                    </div>
                                    <div class="grid">
                                        <div>
                                            <h3><span class="odometer" data-count="7521">00</span></h3>
                                        </div>
                                        <p>Çözülmüş Vaka</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end about-pg-section -->

        <!-- stat divider-section -->
       <section class="divider-section">
            <div class="container">
                <div class="row">
                    <div class="col col-sm-9">
                        <h3>Zeybek Hukuk Bürosunun Uzman Hukukçu Kadrosu Hukuki Uyuşmazlıklarınızı Çözmek İçin Hazır!</h3>
                    </div>
                    <div class="col col-sm-3">
                        <div class="contact-btn">
                            <a href="tel:+902623222166" class="theme-btn-s2">Hemen Ara</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end divider-section -->

<br><br>


{% endblock %}
