{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block metaTitle %}

<title> Zeybek Hukuk | Gayrimenkul Hukuku </title>
<meta name="description" content="Zeybek Hukuk Bürosunun Avukatı Kocaeli Avukatı Kerem Zeybek'in Gayrimenkul Hukuku ile ilgili kocaeli avukatı tecrübelerini anlattığı sayfadır.">

{% endblock %}

{% block body %}

<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Gayrimenkul Hukuku</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
                    <li>Gayrimenkul Hukuku</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end page-title -->

<!-- start service-single-section -->
<section class="service-single-section choose-mt-2">
    <div class="container">
        <div class="row choose-mb">

          <div class="col col-lg-8 col-lg-offset-1 col-sm-12>
              <div class="service-single-content">
                  <div class="service-pic">
                      <img src="{% static 'mainapp/images/zeybek-hukuk-gayrimenkul-hukuku.png' %}" alt="Zeybek Hukuk Gayrimenkul Hukuku"></img>
                  </div>
                  <h2>Gayrimenkul Hukuku</h2>
                  <p>Dünya çapında Gayrimenkul üzerine oldukça büyük yatırımlar gerçekleştirilmeye başlanması ve ilgili alanda yapılan ticaretin önemli bir artış göstermesi sonucunda birçok anlaşmazlık ve sorun ortaya çıkmaya başlamıştır. İlgili anlaşmazlık ve sorunların hukuki çerçevede çözülerek düzene sokulabilmesi için Gayrimenkul Hukuku kavramı hayatımıza girmiştir. Yaşanması muhtemel ve yaşanmış olan anlaşmazlıklar karşısında hukuki açıdan nasıl bir yol izlenmesi gerektiğinin belirlenmesinde Zeybek Hukuk Bürosu olarak sizlere yardımcı oluyoruz.</p>
                  <h3 class="color-b">Gayrimenkul Hukuku Nedir? </h3>
                  <p>Gayrimenkul Hukuku, toplum içerisinde yaşamını sürdüren neredeyse her bireyi ilgilendiren önemli hukuk dallarından birisidir. Toplum içerisinde yer alan bireylerden bazıları kiracı bazılarıysa ev sahibi konumunda yer almaktadır. Ev sahipleri ile kiracılar dönem dönem anlaşmazlık veya çeşitli problemlerle yaşayabilmektedir. Bazense komşularımız ile bazı tartışmalar yaşayarak ilgili tartışmaların sonucunda istenmeyen tatsız durumlarla karşılaşabiliyoruz. Tüm bu senaryolar karşısında Gayrimenkul Hukuku’ndan yararlanılarak adli süreç yürütülür.</p>
                  <p>Ülkemiz sınırları içerisinde Gayrimenkul Hukuku yalnızca Türk vatandaşlarımızı değil aynı zamanda Türkiye sınırları içerisinde mülk sahibi olan, mülk edinmek isteyen yabancı uyruklu kişi ve kurumları da kapsayan geniş kapsamlı bir hukuk dalıdır. Zeybek Hukuk Bürosu olarak ilgili süreçlerde sizlere danışmanlık ve avukatlık hizmeti sağlamaktayız.</p>
                  <h3 class="color-b">Gayrimenkul Hukuku Neleri Kapsar, Konuları Nelerdir ?</h3>
                  <p>Hayatımızın birçok alanında karşımıza çıkan ve hemen hemen her bireyi ilgilendiren Gayrimenkul Hukuku hakkında daha bilinçli olmalı ve ilgili hukuk kapsamında ele alınan konuların neler olduğunu bilmek isteyen kişiler için birkaç örnek vermek istiyoruz;</p>
                  <ul>
                    <li class="uzmanlik-list">Yatırım kararı öncesinde hukuki danışmanlık hizmeti,</li>
                    <li class="uzmanlik-list">Yatırım kararı esnası ve sonrasında hukuki danışmanlık hizmeti,</li>
                    <li class="uzmanlik-list">İrtifak hakkı kurulması,</li>
                    <li class="uzmanlik-list">İpotek uyuşmazlıkları,</li>
                    <li class="uzmanlik-list">Kira bedelinin belirlenmesi talebi için açılacak davaları.</li>
                  </ul>
                  <h3>Zeybek Hukuk Bürosu Tarafından Gayrimenkul Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
                  <p>Avukat Kerem Zeybek ve diğer Zeybek Hukuk Bürosu çalışanları olarak Gayrimenkul Hukuku kapsamında ele alınan tüm adli süreçlerde izlemeniz gereken yolun belirlenmesi ve adli sürecin takibinin sağlanması için profesyonel anlamda danışmanlık ve avukatlık hizmeti sağlamaktayız. Bu kapsamda sık sık karşılaştığımız bazı konular ise şunlar;</p>
                  <ul>
                    <li class="uzmanlik-list">Tespit davaları,</li>
                    <li class="uzmanlik-list">Ortaklığın giderilmesi davaları,</li>
                    <li class="uzmanlik-list">Gayrimenkul satış vaadi sözleşmesi,</li>
                    <li class="uzmanlik-list">Kat karşılığı inşaat sözleşmesi,</li>
                    <li class="uzmanlik-list">Tapu iptal davaları,</li>
                    <li class="uzmanlik-list">Tapu kaydının düzeltilmesi davaları,</li>
                    <li class="uzmanlik-list">Kira tespit davaları,</li>
                    <li class="uzmanlik-list">Tahliye davaları,</li>
                    <li class="uzmanlik-list">Kira sözleşmesi hazırlama,</li>
                    <li class="uzmanlik-list">Kira sözleşmesine aykırılık nedeniyle hapis hakkı davası.</li>
                  </ul>
                  <p>Yukarıda paylaşmış olduğumuz örnekler yalnızca bilgilendirme amaçlı olup ilgili başlıklar dışında ve Gayrimenkul Hukuku kapsamında ele alınan tüm adli süreçlerle ilgilenmekte ve sizlere hizmet sunmaktayız.</p>
              </div>

            {% include 'mainapp/components/practices.html' %}


            </div>
        </div>
        <hr class="divider_40">

</section>
<!-- end service-single-section -->




{% endblock %}
