{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block metaTitle %}

<title> Zeybek Hukuk Bürosu </title>
<meta name="description" content="Zeybek Hukuk ve Danışmanlık Bürosunun Hukuki Paylaşımlar Yaptığı ve Hukuki iletişim Bilgilerini Paylaştığı Web Sayfasıdır.">

{% endblock %}

{% block body %}


<!-- start of hero -->
<section class="hero hero-slider-wrapper hero-style-1">
    <div class="hero-slider">
        <div class="slide">
            <img src="{% static 'mainapp/images/zeybek-hukuk-slider-2.png' %}" alt="Zeybek Hukuk Bürosu Kimdir?" class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 slide-caption">
                        <div class="slide-subtitle">
                            <p>Zeybek Hukuk Bürosu</p>
                        </div>
                        <div class="slide-title">
                            <h2>Müvekkillerimiz İçin<span> En İyisi</span></h2>
                        </div>
                        <div class="btns">
                            <a href="{% url 'about' %}" class="theme-btn-s2">Daha Fazlası</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
          <img src="{% static 'mainapp/images/zeybek-slider-1.png' %}" alt="Zeybek Hukuk Ne Yapar?" class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8  slide-caption">
                        <div class="slide-subtitle">
                            <p>ZEYBEK HUKUK BÜROSU</p>
                        </div>
                        <div class="slide-title">
                            <h2>Hukuki Uyuşmazlıklarda<span> Uzman Çözümler</span></h2>
                        </div>
                        <div class="btns">
                            <a href="{% url 'about' %}" class="theme-btn-s2">Hakkımızda</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of hero slider -->

<!-- start of skill-field-section -->
<section class="skill-field section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-sm-6 clearfix">
                <div class="skill-port-left">
                    <span>Hukuki Çözümler</span>
                    <h2>Deneyimli &amp; Tecrübeli <br>Hukuki Çözümler</h2>
                </div>
            </div>
            <div class="col col-sm-6 clearfix">
                <div class="skill-port-right">
                   <p>
Zeybek Hukuk Bürosu, 1979 yılında merhum Av. Ali Zeybek’in kuruculuğunda Av. Emine Zeybek ile birlikte başta Kocaeli ve İstanbul bölgeleri olmak üzere Türkiye genelinde 40 yılı aşkın bir süredir çalışmalarını sürdürmektedir.
                   </p>
                </div>
            </div>
        </div>
        <hr class="divider_40">
    </div>
</section>
<!-- end of skill-field-section -->

<!-- start of about-section -->
<section class="about-section bg-color-b section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-5">
                <div class="about-title">
                    <div class="img-holder">
                        <img src="{% static 'mainapp/images/zeybek-hukuk-hakkimizda-ana.png' %}" alt="Zeybek Hukuk Hakkında">
                    </div>
                </div>
            </div>
            <div class="col col-md-7">
                <div class="about-text">
                    <h1>Kaliteli, DÜrüst Hukuki Hizmet</h1>
                    <h2>Zeybek Hukuk Bürosu olarak doğru hukuki çözüm anlayışı ile hukuki sorunları çözüme kavuşturuyoruz.</h2>
                    <p>Zeybek Hukuk | Danışmanlık Bürosu olarak, müvekkillerimizin taleplerini hukuki çerçevede en uygun ve en kaliteli hizmet anlayışımız ile karşılamaya çalışıyor ve büyük bir titizlikle tüm hukuki süreci takip ediyor; sonuçlandırıyoruz. </p>
                    <a href="{% url 'about' %}" class="theme-btn-s2">Hakkımızda Daha Fazlası</a>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end of about-section -->

<!-- start of features-section -->
<section class="features-section features-mr-t">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="features-grids">
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-insurance"></i>
                        </div>
                        <h3>Hukuki Danışmanlık</h3>
                    </div>
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-court"></i>
                        </div>
                        <h3>Uzman Hukukçu Kadro</h3>
                    </div>
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-laptop"></i>
                        </div>
                        <h3>Yıllara Sari Tecrübe</h3>
                    </div>
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-trial"></i>
                        </div>
                        <h3>Kaliteli Hukuki Çözümler</h3>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end of features-section -->

<!-- start team-section -->
<section class="team-section section-padding" style="text-align: center;">
  <div class="row">
        <div class="col-l2">
            <div class="section-title-s3 text-center">
                <span>Hukukçularımız</span>
                <h2>Zeybek Hukuk Avukatları</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="team-grids" style="display: flex; justify-content: center;">
                    <div class="grid">
                        <div class="img-holder">
                            <img src="{% static 'mainapp/images/zeybek-hukuk-avukat-resim.png' %}" alt="Zeybek Hukuk Poster">
                        </div>
                        <div class="details">
                            <h3>Av. Kerem Zeybek</h3>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="img-holder">
                            <img src="{% static 'mainapp/images/zeybek-hukuk-avukat-resim.png' %}" alt="Zeybek Hukuk Poster">
                        </div>
                        <div class="details">
                            <h3>Av. Libaden Çeğen</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div> <!-- end container -->
</section>
<!-- end team-section -->


<!--  start recent-blog-section -->
<section class="recent-blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title">
                    <span>Makaleler</span>
                    <h2>Son Hukuki Yayınlar</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-grids clearfix">

                  {% for makale in ucmakale %}

                  <div class="grid">
                      <div class="img-holder">
                          <img src="{% static 'mainapp/images/zeybek-hukuk-makale-resmi.png' %}" alt="Zeybek Hukuktan Hukuki Yayınlar">
                      </div>
                      <div class="details">
                          <div class="meta">
                              <ul class="post-meta">
                                  <li>{{ makale.get_makale_kategori_display }}</li>
                              </ul>
                          </div>
                          <h3><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></h3>
                      </div>
                  </div>

                  {% endfor %}

                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end recent-blog-section -->



{% endblock %}
