{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block metaTitle %}

<title> Zeybek Hukuk | Miras Hukuku </title>
<meta name="description" content="Zeybek Hukuk Bürosunun Miras Hukuku Alanında Tecrübe ve Fikirlerini Paylaştığı, Avukat Kerem Zeybek tarafından oluşturulmuş sayfadır.">

{% endblock %}

{% block body %}

<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Miras Hukuku</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
                    <li>Miras Hukuku</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end page-title -->

<!-- start service-single-section -->
<section class="service-single-section choose-mt-2">
    <div class="container">
        <div class="row choose-mb">

          <div class="col col-lg-8 col-lg-offset-1 col-sm-12>
              <div class="service-single-content">
                  <div class="service-pic">
                      <img src="{% static 'mainapp/images/zeybek-hukuk-miras-hukuku.png' %}" alt="Zeybek Hukuk Miras Hukuku"></img>
                  </div>
                  <h2>Miras Hukuku</h2>
                    <p>Medeni Hukuk içerisinde yer alan Miras Hukuku, şahısların vefat etmesinden kaynaklanan durumlarda kişinin mirasının hangi şartlar altında mirasçı veya mirasçılara devir işleminin gerçekleşeceği konularını tüm detaylarıyla ele alan hukuk dalıdır. Miras Hukuku yalnızca kişinin vefatı sonucunda devri gerçekleşecek mirası değil aynı zamanda mirasçılar içinde bir maddeye sahiptir. Mirasçı olabilmek için hangi şartların sağlanması gerektiği gibi birçok detay açıkça belirtilmiştir.</p>
                    <p>Zeybek Hukuk Bürosu olarak Miras Hukuku kapsamında yaşamış olduğunuz tüm anlaşmazlık ve adli süreç sırasında sizlerin yanında olarak yaşamakta olduğunuz bu anlaşmazlığın en kısa sürede sonuçlandırılması için profesyonel olarak çalışma yürütüyoruz.</p>
                  <h3 class="color-b">Miras Hukuku Nedir ? </h3>
                    <p>Miras Hukuku, ölüm ya da gaiplik halinde kişiye ait mirasın hangi şartlar altında kimlere dağıtılacağının belirlenmesini sağlamak adına oluşturulan hukuk dalıdır. Bireylerin mirastan yararlanması anayasa tarafından korunmakta olup, Zeybek Hukuk Bürosu olarak ilgili hukuk dalı kapsamında hizmet sağladığımız bazı konular; yasal mirasçılar, atanmış mirasçılar, mirası kazanma, miras sözleşmesi, vasiyetname, ölüme bağlı tasarruflar, tereke, muris muvazaası, muris muvazaası sebebiyle tasarrufun iptali, mirasın reddi, mirasın reddinin iptali, saklı pay, saklı paya tecavüz eden tasarrufun tenkisi vb.</p>
                  <h3>Zeybek Hukuk Bürosu Tarafından Miras Hukuku Alanında Sağlanan Bazı Hizmetler </h3>
                    <p>Avukat Kerem Zeybek şahıs ve şirketlerin ihtiyaçlarını doğrultusunda Miras Hukuku kapsamında tüm büro çalışanlarımızla ortak bir çalışma yürüterek tüm ihtiyaçlarınıza yanıt bulmak için çalışıyor. Bu süreçte en sık karşılaştığı dava başlıkları ise şunlar;</p>
                  <ul>
                    <li class="uzmanlik-list">Mirasçılık belgesi verilmesi davası,</li>
                    <li class="uzmanlik-list">Atanmış kişiye mirasçılık belgesi verilmesi davası,</li>
                    <li class="uzmanlik-list">Mirasçılık belgesinin iptali ve yeni mirasçılık belgesinin verilmesi davası,</li>
                    <li class="uzmanlik-list">Mirastan yoksunluğun tespiti davası,</li>
                    <li class="uzmanlik-list">Miras sözleşmelerinden doğan davalar,</li>
                    <li class="uzmanlik-list">Mirasta istihkak davası,</li>
                    <li class="uzmanlik-list">Miras sözleşmesinin ortadan kaldırılmasına ilişkin davalar,</li>
                    <li class="uzmanlik-list">Terekenin korunmasına ilişkin davalar,</li>
                    <li class="uzmanlik-list">Terekenin mevcudunun tespitine dair davalar,</li>
                    <li class="uzmanlik-list">Mirasçının gaipliğine karar verilmesi davası,</li>
                    <li class="uzmanlik-list">Mirasın paylaştırılması talebine ilişkin davalar,</li>
                    <li class="uzmanlik-list">Gaiplik ve malvarlığının hazineye intikali davası,</li>
                    <li class="uzmanlik-list">Alacaklıların mirasın reddinin iptaline ilişkin davaları,</li>
                    <li class="uzmanlik-list">İflas idaresinin mirasın reddine iptaline ilişkin davaları,</li>
                    <li class="uzmanlik-list">Miras taksim sözleşmesinin iptali davası,</li>
                    <li class="uzmanlik-list">Vasiyetnamenin iptali davası,</li>
                    <li class="uzmanlik-list">Vasiyetnamenin açılması ve ilgililere okunmasına ilişkin davalar,</li>
                    <li class="uzmanlik-list">Mirasın reddi kararının iptali davası,</li>
                  </ul>
                  <p>Zeybek Hukuk Bürosu olarak geniş avukat kadromuz ile ilgili dava konuları başta olmak üzere Miras Hukuku kapsamında değerlendirilen tüm adli süreçler sizlerin yanında olarak yaşanan sorunlarda gerekli savunmayı sunarak ve sürecin hızlandırılması için elimizden geleni yapıyoruz.</p>
              </div>

            {% include 'mainapp/components/practices.html' %}


            </div>
        </div>
        <hr class="divider_40">

</section>
<!-- end service-single-section -->




{% endblock %}
