{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block metaTitle %}

<title> Zeybek Hukuk | Tazminat Hukuku </title>
<meta name="description" content="Zeybek Hukuk Bürosunun Kocaeli Tazminat Davalarındaki Tecrübelerini Aktardığı ve Avukat Kerem Zeybek'in fikirlerini Anlattığı Sayfadır.">

{% endblock %}

{% block body %}

<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Tazminat Hukuku</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
                    <li>Tazminat Hukuku</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end page-title -->

<!-- start service-single-section -->
<section class="service-single-section choose-mt-2">
    <div class="container">
        <div class="row choose-mb">

          <div class="col col-lg-8 col-lg-offset-1 col-sm-12>
              <div class="service-single-content">
                  <div class="service-pic">
                      <img src="{% static 'mainapp/images/zeybek-hukuk-tazminat-hukuku.png' %}" alt="Zeybek Hukuk Tazminat Hukuku"></img>
                  </div>
                  <h2>Tazminat Hukuku</h2>
                    <p>Hukuki düzen dışında kalan durumlarda gerçekleşen bir olay sonucunda kişinin zarar görmesi halinde bu hukuken düzeltilmesi gereken bir durumdur. Kişinin zarara uğradığı olay öncesindeki haline dönebilmesi adına zararın karşılanmasına tazminat adı verilir. Bu durumla ilgili tüm kuralların yer aldığı hukuk dalına ise Tazminat Hukuku adı verilmiştir.</p>
                    <p>Şahıs ve kurumlar arasında adalet ve özgür yaşam hakkının korunabilmesi için belirlenen hukuk disiplinlerinin dışına çıkılmaması gerekmektedir. İlgili düzenin dışına çıkılması halinde düzenin tekrardan sağlanabilmesi adına başvurulabilecek bazı yöntemler bulunmaktadır bunlardan birisi ise Tazminat yöntemidir. Zeybek Hukuk Bürosu olarak hukuk disiplini dışında kalan durumlar nedeniyle yaşamış olduğunuz zararın giderilmesi adına yasal bir hakka sahip olduğunuzu hatırlatarak Tazminat süreci konusunda sizlere gerekli danışmanlık ve avukatlık hizmetini sunuyoruz.</p>
                  <h3 class="color-b">Tazminat Hukuku Nedir ? </h3>
                    <p>Tazminat Hukuku,  kişilerin devlet veya tüzel veya gerçek kişiler tarafından gerçekleştirilen herhangi bir fiil sonucunda uğradıkları zararın giderilmesini kapsayan bir hukuk dalıdır. Zarar oluşmasına neden olmuş eylem tüzel veyahut gerçek kişiler tarafından gerçekleştirilmiş olabileceği gibi zaman zaman devlet tarafından uygulanan bazı eylemler kişi ve kurumların zarara uğramasına neden olabilmektedir. İlgili durumun yaşanmasında sorumlu taraf devlet olsa dahi zararı karşılamakla yükümlüdür.</p>
                  <h3>Zeybek Hukuk Bürosu Tarafından Miras Hukuku Alanında Sağlanan Bazı Hizmetler </h3>
                    <p>Avukat Kerem Zeybek şahıs ve şirketlerin ihtiyaçlarını doğrultusunda Miras Hukuku kapsamında tüm büro çalışanlarımızla ortak bir çalışma yürüterek tüm ihtiyaçlarınıza yanıt bulmak için çalışıyor. Bu süreçte en sık karşılaştığı dava başlıkları ise şunlar;</p>
                    <p>Bunun yanı sıra dikkat edilmesi gereken nokta ise zarara sebebiyet veren eylemin hukuka aykırı bir eylem olması gerektiğidir. Avukat Kerem Zeybek, birçok kişinin belirli olaylar sonucunda zarara uğramaları nedeniyle tazminat yöntemine başvurmak istediğini fakat çoğu zaman bu durumların hukuk düzeni çerçevesinde olması nedeniyle istediklerini alamadıklarını vurgulamaktadır. İlgili süreçte bir uzman desteği almanın önemine dikkat çeken büromuz avukatlarından Kerem Zeybek, yaşanan zarar sonucunda hukuki anlamda tüm detaylara hakim bir avukat yardımının önemli farklar yaratabileceğini söylüyor.</p>

                  <h3>Zeybek Hukuk Bürosu Tarafından Tazminat Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
                    <p>Zeybek Hukuk Bürosu olarak müvekkillerimizin yaşamış oldukları olumsuz senaryolar karşısında zararlarının karşılanabilmesi adına gerekli hukuki sürecin en hızlı şekilde sürdürülmesini sağlayarak mağduriyetin giderilmesi için profesyonel olarak çalışma yürütüyoruz. Bu süreçte Tazminat Hukuku kapsamında en sık karşılaştığımız dava başlıklarını örnek olması amacıyla paylaşmak istiyoruz;</p>

                  <ul>
                    <li class="uzmanlik-list">Trafik kazasından kaynaklanan maddi & manevi tazminat,</li>
                    <li class="uzmanlik-list">Haksız fiil nedeniyle maddi & manevi tazminat,</li>
                    <li class="uzmanlik-list">Destekten yoksun kalma tazminatı,</li>
                    <li class="uzmanlik-list">İş kazasından kaynaklı efor kaybı, maddi & manevi tazminat,</li>
                    <li class="uzmanlik-list">Beden bütünlüğünün ihlali nedeniyle tazminat davaları.</li>
                  </ul>
                  <p>Yukarıda yer alan dava başlıkları yalnızca örnek vermek amaçlı olup Tazminat Hukuku kapsamında ele alınan tüm davalarda hizmet sağlamaktayız.</p>
              </div>

            {% include 'mainapp/components/practices.html' %}


            </div>
        </div>
        <hr class="divider_40">

</section>
<!-- end service-single-section -->




{% endblock %}
