{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block metaTitle %}

<title> Zeybek Hukuk | Ticaret Hukuku </title>
<meta name="description" content="Zeybek Hukuk ve Danışmanlık Bürosnun Kocaeli Avukatı Olarak Ticaret Hukuk Alanında paylaşımlarının bulunduğu sayfadır.">

{% endblock %}

{% block body %}

<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Ticaret Hukuku</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
                    <li>Ticaret Hukuku</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end page-title -->

<!-- start service-single-section -->
<section class="service-single-section choose-mt-2">
    <div class="container">
        <div class="row choose-mb">

          <div class="col col-lg-8 col-lg-offset-1 col-sm-12>
              <div class="service-single-content">
                  <div class="service-pic">
                      <img src="{% static 'mainapp/images/zeybek-hukuk-ticaret-hukuku.png' %}" alt="Zeybek Hukuk Ticaret Hukuku"></img>
                  </div>
                  <h2>Ticaret Hukuku</h2>
                    <p>Özel Hukuk içerisinde yer alan Ticaret Hukuku, hayatımızın her anında bizlerin karşısına çıkan tüm ticari faaliyetleri kapsayan oldukça geniş çaplı ve önemli hukuk dallarından birisidir. Ticari faaliyetlerin düzenlenmesi ve ilgili düzen çerçevesinde işlemesini sağlayabilmek için oluşturulmuş bir hukuk dalıdır. Gün içerisinde gerçekleştirmek zorunda kaldığımız birçok ticari eylemin hukuk çerçevesinde uygun bir şekilde gerçekleşmesini sağlamak için gerekli bir hukuk dalıdır. Zeybek Hukuk Bürosu olarak ilgili hukuk dalının oldukça geniş bir alan olduğunu ve özel bir eğitime ihtiyaç duyduğunun farkında olarak profesyonel ve alanında uzman avukatlarımızla sizlere yardımcı olmaktayız.</p>
                  <h3 class="color-b">Ticaret Hukuku Nedir ? </h3>
                    <p>Ticaret Hukuku; üretim, değişim ve tüketim faaliyetlerinin düzenlenmesi için hayatımıza girmiş, özel hukuk kapsamında değerlendirilen önemli bir hukuk dalıdır. Oldukça geniş kapsamlı bir hukuk dalı olması sebebiyle bağlantılı olduğu birçok hukuk dalı vardır. Yalnızca kendisi değil aynı zamanda bağlantılı hukuk dallarının da bilinmesi gerektiği için özel bir ilgi & uzmanlık isteyen hukuk dallarından birisidir. Avukat Kerem Zeybek ve büromuzda sizlere hizmet sunan tüm avukatlarımız hukuki anlamda tüm sorularınızı yanıtlayarak sizlere profesyonel hizmet sunmaktadır.</p>
                  <h3>Ticaret Hukuku Neleri Kapsar, Konuları Nelerdir ?</h3>
                  <p>Ticaret Hukuku’nun oldukça geniş kapsamlı bir hukuk dalı olduğundan bahsetmiştik bunu şu örnekle desteklemek istiyoruz; gün içerisinde marketten satın alacağınız bir sakızın dahi ekonomi üzerinde bir etkiye sahip olması bunun ticaret hukuku kapsamında değerlendirilmesine neden olmaktadır. Gün içerisinde gerçekleştirilmekte olan ticari faaliyetler her geçen gün daha karmaşık bir hal almaya başlamıştır. Bu ticari faaliyetler sonucunda yaşanan anlaşmazlıklar da giderek artmaya başlamış ve Ticaret Hukuku’nun hayatımıza girmesine neden olmuştur. Bu kapsamda sağlamış olduğumuz bazı hizmetler;</p>
                  <ul>
                    <li class="uzmanlik-list">•	Ticaret Hukuku kapsamında genel danışmanlık hizmeti,</li>
                    <li class="uzmanlik-list">•	Ticari ilişkilere yönelik sözleşmelerin hazırlanması,</li>
                    <li class="uzmanlik-list">•	İhtar ve diğer hukuki metinlerin hazırlanması,</li>
                  </ul>


                  <h3 class="color-b">Zeybek Hukuk Bürosu Tarafından Ticaret Hukuku Alanında Sağlanan Bazı Hizmetler </h3>
                    <p>Zeybek Hukuk Bürosu olarak gerek tüketici gerekse şirketlerin ticari faaliyetleri sonucunda yaşamış oldukları anlaşmazlıkların çözüme kavuşturulabilmesi adına danışmanlık hizmeti sağlıyoruz. Avukatlarımızın Ticaret Hukuku kapsamında en fazla hizmet sağladığı dava tipleri ise;</p>
                    <ul>
                      <li class="uzmanlik-list">Ticari şirketlerin alım ve satımı,</li>
                      <li class="uzmanlik-list">Haksız rekabet,</li>
                      <li class="uzmanlik-list">Şirket yönetimi,</li>
                      <li class="uzmanlik-list">Hisse devir işlemleri, şirket devir ve birleşmeleri,</li>
                      <li class="uzmanlik-list">Ortaklık sözleşmeleri,</li>
                      <li class="uzmanlik-list">Ticaret Hukuku kapsamında danışmanlık hizmeti,</li>
                      <li class="uzmanlik-list">Ticari işletme hukuku,</li>
                      <li class="uzmanlik-list">Şirketler Hukuku,</li>
                      <li class="uzmanlik-list">Tasfiye,</li>
                      <li class="uzmanlik-list">Kıymetli evrak hukuku,</li>
                      <li class="uzmanlik-list">Risk Sermayesi,</li>
                      <li class="uzmanlik-list">Sermaye Piyasaları,</li>
                      <li class="uzmanlik-list">Leasing Sözleşmeleri.</li>
                    </ul>
                    <p>İlgili dava başlıkları yalnızca örnek vermek amaçlı olup, Ticaret Hukuku çerçevesinde ele alınan tüm dava süreçlerinde sizlerin yanında olarak avukatlık hizmeti sağlamaktayız.</p>
              </div>

            {% include 'mainapp/components/practices.html' %}


            </div>
        </div>
        <hr class="divider_40">

</section>
<!-- end service-single-section -->




{% endblock %}
